<a href="https://colab.research.google.com/github/snandhakishor/Weather-and-climate-analytics/blob/main/weatheranalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv(r"/content/Weather-and-climate-analytics/data/cleaned_weatherdata.csv")
df.head()

,time,temperature_2m_max,temperature_2m_min,precipitation_sum,windspeed_10m_max
0,2022-01-01,31.1,23.9,0.0,13.5
1,2022-01-02,31.7,24.1,0.0,15.7
2,2022-01-03,31.5,24.6,0.0,17.5
3,2022-01-04,31.2,24.0,0.0,17.7
4,2022-01-05,29.9,23.7,0.0,14.8